body
{  
	background-color: #ffff66;
	font-family: "Arial", Arial, sans-serif;
}

.header
{
	background-color: #ffff66;
	text-align: center;
	margin: 15px 5px 15px 20px;
}

.menu
{
	margin-left: 250px;
}

ul, ul li {
	display: block;
	list-style: none;
	margin: 10px -15px 15px 15px;
	padding: 0;
}

ul {
	position: absolute;
}

ul li {
	float: left;
	border-width: 0 1px 1px 1px;
	border-style: solid;
	border-color: transparent #8B0000;
}

ul a:link, ul a:visited {
	text-decoration: none;
	display: block;
	width: 120px;
	text-align: center;
	padding: 10px 0;
	font-weight: bold;
	background-color: #DC143C;
	color: #FFF;
	border-top: 10px solid #8B0000;
}

ul a:hover {
	background-color: #8B0000;
	color: #fff;
	border-top: 20px solid #DC143C;
}

li a.active
{
    background-color: #8B0000;
    color: #FFF;
}

li a:hover:not(.active)
{
    background-color: #8B0000;
    color: #FFF;
}

.text1
{
	text-align: left;
	margin: 1cm 10cm 1cm 11cm;
	
}

.text2
{
	text-align: left;
	margin: 5cm 4cm 2cm 2cm;
}

.text3
{
	text-align: left;
	margin: 1cm 4.5cm 2cm 4.5cm;
}

.text4
{
	text-align: left;
	margin: 2cm 2cm 3cm 5cm;	
}

.img
{
	margin-top: 5cm;
}

.img1
{
	margin:1cm;
}

.impressum
{
	background-color: #ffff66;
	margin: 2cm 0cm 0cm 0cm;
	text-align: left;
}

table
{
	border-collapse: solid;
	text-align: left;
}

th
{
	background-color: #DC143C;
	color: #FFF;
	text-align: center;
	padding: 8px;
}

tr:nth-child(even){background-color: #e0e0d1}
